.clearfix
  clear both
  content ''
  overflow hidden

.all-space {
  width: 170px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-top: -23px;
  margin-left: -105px;
  background-color: #000;
  opacity: 0.8;
  border-radius: 3px;
  z-index: 1000;
  color: #fff;
  text-align: center;
  font-size: 14px;
  padding: 10px 20px;
}
