@font-face {
  font-family: 'dong';
  src:  url('fonts/dong.eot?6196vk');
  src:  url('fonts/dong.eot?6196vk#iefix') format('embedded-opentype'),
    url('fonts/dong.ttf?6196vk') format('truetype'),
    url('fonts/dong.woff?6196vk') format('woff'),
    url('fonts/dong.svg?6196vk#dong') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'dong' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-back:before {
  content: "\e901";
}
.icon-home:before {
  content: "\e900";
}
.icon-home2:before {
  content: "\e902";
}
.icon-home3:before {
  content: "\e903";
}
.icon-now:before {
  content: "\e94f";
}
.icon-user:before {
  content: "\e971";
}
.icon-search:before {
  content: "\e986";
}
.icon-up:before {
  content: "\e99b";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-list:before {
  content: "\e9b9";
}
.icon-list2:before {
  content: "\e9bb";
}
.icon-prev:before {
  content: "\ea23";
}
.icon-next:before {
  content: "\ea24";
}
.icon-volume:before {
  content: "\ea26";
}
